button,
input[type="submit"],
input[type="reset"],
a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button:focus-visible,
input[type="submit"]:focus-visible,
input[type="reset"]:focus-visible,
a:focus-visible {
  outline: 0.125em solid currentColor;
  outline-offset: 0.5em;
}

.link {
  color: blue;

  text-decoration: underline;
  text-underline-offset: 0.125em;
  text-decoration-thickness: 0.125em;
}

.link:hover {
  text-decoration-thickness: 0.187em;
}
