* {
  font-weight: var(--font-weight, 400);
  font-variation-settings: "wght" var(--font-weight, 375),
    "wdth" var(--font-width, 80);
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--radius);
}

::-webkit-scrollbar-thumb:hover {
  --_scrollbar-opacity: 0.8;
}

::-webkit-scrollbar-thumb:active {
  --_scrollbar-opacity: 0.9;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  display: flex;
  flex-direction: column;

  min-height: 100dvh;

  background-color: rgb(var(--clr-background));
  color: rgb(var(--clr-foreground));
}

header {
  margin-bottom: auto;
}

main {
  padding-block: var(--padding-inline);
}

footer {
  margin-top: auto;
}

img {
  object-fit: contain;
  object-position: center;
}

p:not([class]) {
  max-width: 60ch;
}

.container {
  width: min(calc(100% - var(--padding-inline) * 2), var(--max-content-width));

  margin-inline: auto;
}

.size-4 {
  width: 16px;
  height: 16px;
}
