.font-branding {
  font-family: "MontserratAlternates", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: var(--space-6);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  hyphens: auto;

  font-weight: var(--font-weight, 900);
}

h1,
.h1 {
  --font-weight: 900;
  font-size: var(--fs-h1);
}

h2,
.h2 {
  --font-weight: 900;
  font-size: var(--fs-h2);
}

h3,
.h3 {
  --font-weight: 900;
  font-size: var(--fs-h3);
}

h4,
.h4 {
  --font-weight: 900;
  font-size: var(--fs-h4);
}

h5,
.h5 {
  --font-weight: 900;
  font-size: var(--fs-h5);
}

h6,
.h6 {
  --font-weight: 900;
  font-size: var(--fs-h6);
}

p {
  font-size: var(--fs-p);
}

small {
  font-size: var(--fs-sm);
}
