---
import siteData from "@/data/siteData.json";
import MainLayout from "@/layouts/MainLayout.astro";
---

<MainLayout>
  <h1>Aaron Ragudos</h1>
  <div>
    <ul class="links">
      {
        siteData.socialLinks.map((link) => (
          <li>
            <a
              class="link"
              href={link.url}
              target="_blank"
              rel="noopener noreferrer"
            >
              {link.name}
            </a>
          </li>
        ))
      }
    </ul>
    <span> me@aaronragudos.website </span>
  </div>
</MainLayout>
<style>
  .links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    column-gap: 0.25rem;
  }

  .links li:not(:last-child)::after {
    content: " | ";
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1,
  div {
    text-align: center;
  }
</style>
