/** === COLOR THEMES FOR DARK AND LIGHT MODE  ===  **/
$themes: (
    light: (
        text: 10 60% 6%,
        background: 9 47% 94%,
        lighter-background: 9 47% 90%,
        primary: 5 57% 54%,
        primary-foreground: 10 60% 4%,
        secondary: 85 57% 72%,
        secondary-foreground: 10 60% 4%,
        accent: 112 57% 61%,
        accent-foregroubd: 10 60% 4%,
        destructive: 0 62% 30%,
        destructive-foreground: 10 60% 96%,
        muted: 0 0% 40%,
        border: 9 47% 20%,
        input: 9 47% 20%,
        ring: 112 57% 40%,
        link: 220 77% 24%,
        warning: 40 57% 74%,
        warning-forground: 10 60% 4%,
        info: 220 57% 74%,
        info-foreground: 10 60% 4%,
        success: 120 57% 74%,
        success-foreground: 10 60% 4%,
        skeleton: 300 3% 66%,
        skeleton-shimmer: 300 3% 86%,
        reed: 6 79% 77%,
        muted-foreground: 0 0% 100%,
    ),
    dark: (
        text: 10 60% 94%,
        background: 9 47% 6%,
        lighter-background: 9 47% 10%,
        primary: 5 57% 46%,
        secondary: 85 57% 28%,
        accent: 112 57% 39%,
        destructive: 0 62% 20%,
        destructive-foreground: 10 61% 96%,
        border: 9 47% 20%,
        input: 9 47% 80%,
        ring: 112 57% 60%,
        link: 220 77% 84%,
        warning: 40 57% 56%,
        muted: 0 0% 60%,
        warning-foreground: 10 60% 96%,
        info: 220 57% 26%,
        info-foreground: 10 60% 96%,
        success: 120 57% 26%,
        success-foreground: 10 60% 96%,
        skeleton: 300 3% 44%,
        skeleton-shimmer: 300 3% 24%,
        reed: 6 79% 37%,
        muted-foreground: 0 0% 0%,
    ),
);
