@use "sass:map";
@use "../variables/colors" as *;

@mixin themify($themes) {
    @each $name, $values in $themes {
        [data-theme="#{$name}"] {
            $theme_name: $name !global;
            $theme_map: $values !global;
            @content;
        }
    }

    @media (prefers-color-scheme: dark) {
        [data-theme="system"] {
            $theme_map: map.get($themes, dark) !global;
            @content;
        }
    }

    @media (prefers-color-scheme: light) {
        [data-theme="system"] {
            $theme_map: map.get($themes, light) !global;
            @content;
        }
    }
}
